*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  overflow: hidden;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #6e1fda, #27006a);
  font-family: "Space Grotesk", sans-serif;
}

.main-container {
  margin: 7.5% auto 3em;
  width: 72.5%;
  background-color: #170058;
  border-radius: 12px;
  box-shadow: 1px -3px 12px 7px #36007e;
}
.sub {
display: flex;
flex-direction: column;
justify-content:center ;
align-items: center;
}
.wel {
  margin-top: 1em;
  text-align: center;
  color: #2adcff;
  font-weight: 900;
  font-weight: bold;
  font-size: 50px;
}

.ready {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.btn {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 13px 20px 13px 20px;
  border-radius: 38px;
  border-style: none;
  font-weight: 600;
  font-size: 15px;
  outline: none;
  background-color: #2adcff;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #2adcff;
}

.bottom {
  text-align: center;
  font-size: 1rem;
}

a {
  color: black;
}
.fa-linkedin:hover {
  color: white;
}
.fa-github:hover {
  color: white;
}
.fa-youtube:hover {
  color: white;
}
.cp {
  color: white;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}